%button.item-button.item-button-like
  - if user_signed_in?
    - if item.like_user(current_user.id)
      = button_to item_like_path(like, tweet_id: item.id), method: :delete, id: "like-button", remote: true do
        = image_tag("icon_red_heart.svg")
        %span
          = item.like_count
    - else
      = button_to item_likes_path(item), id: "like-button", remote: true do
        = image_tag("icon_heart.svg")
        %span
          = item.like_count
  - else
    = image_tag("icon_heart.svg")
      %span
        = item.like_count
