= render partial: "/shared/header"
.main.clearfix
  .main__content
    = render partial: "/shared/side-list"
    = render partial: "/shared/profile"
= render partial: "/shared/banner"
= render partial: "/shared/footer"

