.header
  .header__inner
    .header__search
      %img.header__search__icon{src: "/images/mercari_logo.svg"}
      %form
        %i.fa.fa-search
        %input.header__search__input{value: "キーワードから探す"}
    .header__nav
      .header__nav__left-side
        %a.link-category
          カテゴリーから探す
        %a.link-brand
          ブランドから探す
      .header__nav__right-side
        - if user_signed_in?
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__nav__right-side__sign-up float-right button"
        - else
          = link_to "ログイン", new_user_session_path, class: "header__nav__right-side__sign-in float-right button"
          = link_to "新規会員登録", users_path, class: "header__nav__right-side__sign-up float-right button"
    = render "/shared/bread-crumbs"
    = breadcrumbs separator: " &rsaquo; " 