.single-container
  = render partial: "shared/default-header"

  %main.single-main
    %section.l-single-container
      .sell-container
        .sell-container-inner
          %h2.l-single-head 購入を確定しますか？
        / 購入商品
        .buy-contents
          .buy-content-inner
            %h3.buy-item-image
              =image_tag @item.images.first.image.url, size: "148x148"
            %p.buy-item-name
              = @item.name
            %form.buy-form
              %p.buy-price
                ¥#{@item.price}
                %span.item-shipping-fee
                  送料込み
              %ul.buy-accordion
                %li.accordion-parent
                  .accordion-toggle
                    ポイントを使う
                    %i.fa.fa-angle-down
                  %ul.accordion-child
                    %li.bold
                      所持ポイント：P 500
                    %li.form.group
                      .radio-default
                        %label
                          %input{:type => "radio", :name => "consume_point_radio"}
                            ポイントを使わない
                          %br
                          %input{:type => "radio", :name => "consume_point_radio", :value => "all"}
                          %input{:type => "hidden",:value => "500"}
                            全てのポイントを使う
                            P 500
                          %br
                          %input{:type => "radio", :name => "consume_point_radio", :value => "partial"}
                            一部のポイントを使う
                          %br
                          %input{:type => "number", :class => "input-default", :placeholder => "使うポイントを入力"}
                          %input{:type => "hidden", :name => "consume_point", :value => "0"}
              %ul.buy-price-table
                %li.buy-price-row.buy-you-pay
                  .buy-price-cell
                    支払い金額
                  .buy-price-cell
                    %span.data-buy-pay
                      ¥#{@item.price}
            =form_tag(pay_item_path(@item), method: :post) do
              %script.payjp-button{"data-key": "pk_test_855c8f8942c8cca49c6f6607", src: "https://checkout.pay.jp/",'data-text':'購入する', 'data-submit-text': '送信する'}
        / 配送先
        .buy-contents
          .buy-content-inner
            %h3.buy-form-title
              配送先
            %address.buy-user-info-text
              〒000-0000
              %br 東京都中央区銀座1丁目
              太郎 花子
            %span.buy-user-info-fix
              =link_to "#" do
                変更する
                %i.icon-arrow-right >
        / 支払い方法
        .buy-contents
          .buy-content-inner
            %h3.buy-form-title
              支払い方法
            %p.buy-user-info-text
              ************2743
              %br 02 / 19
              %figure
                = image_tag('visa.svg', size: '49x15', alt:'VISA')
            %span.buy-user-info-fix
              =link_to "#" do
                変更する
                %i.icon-arrow-right >

  = render partial: 'shared/default-footer'
