.single-container
  = render partial: "/shared/header"
  %main.single-main
    %section.l-single-container
      .buy-container
        / 商品の詳細
        .buy-item-contents
          .buy-items-inner
            %h2.item-name
              ラブトキシック★ショートパンツ150
          .item-photo
            .owl-carousel
              .owl-stage-outer
                .owl-stage
                  .owl-item
                    .owl-item-inner
                      =image_tag('m74375986154_1.jpg', size: '300x300', alt:'picture')
              .owl-dots
                .owl-dot
                  %span
                    .owl-dot-inner
                      = image_tag('m74375986154_1.jpg', size: '75x75', alt:'picture')
                .owl-dot
                  %span
                    .owl-dot-inner
                      = image_tag('m74375986154_1.jpg', size: '75x75', alt:'picture')
                .owl-dot
                  %span
                    .owl-dot-inner
                      = image_tag('m74375986154_1.jpg', size: '75x75', alt:'picture')
                .owl-dot
                  %span
                    .owl-dot-inner
                      = image_tag('m74375986154_1.jpg', size: '75x75', alt:'picture')
          //table
          %table.item-detail-table
            %tr
              %th 出品者
              %td
                =link_to "#" do
                  ポンポン
                .ratings
                  .item-user-ratings
                    %i.fa.fa-smile-o
                    %span 743
                  .item-user-ratings
                    %i.fa.fa-meh-o
                    %span 1
                  .item-user-ratings
                    %i.fa.fa-frown-o
                    %span 0
            %tr
              %th カテゴリー
              %td
                =link_to "#" do
                  ベビーキッズ
                .item-detail-table-sub-category
                  =link_to "#" do
                    %i.fa.fa-angle-right
                    キッズ服（女の子用）100cm〜
                  =link_to "#" do
                    %i.fa.fa-angle-right
                    パンツ
            %tr
              %th ブランド
              %td
                =link_to "#" do
                  ラブトキシック
            %tr
              %th 商品のサイズ
              %td 150cm
            %tr
              %th 商品の状態
              %td やや傷や汚れあり
            %tr
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %th 配送の方法
              %td 未定
            %tr
              %th 配送元地域
              %td
                =link_to "#" do
                  東京都
            %tr
              %th 発送日の目安
              %td 1~2日で発送
          .item-price-box
            .text-center
              %span.item-price ¥777
              %span.item-tax (税込)
              %span.item-shipping-fee 送料込み
          %section.visible-sp
            .text-center
              .sales-point-message
                P 500をお持ちです
              %a.item-buy
                = link_to "#" do
                  .item-buy-btn 購入画面に進む
          //商品の説明
          .item-description
            %p.item-description-inner
              ラブトキシックのショートパンツMサイズです。
              ハートの形の穴がかわいいです(^^)
              着用回数少な目で綺麗な状態ですが、
              ウエストの調整ゴムの部分のボタンが片方取れてしまったため、応急処置でゴムを縫い付けているため、
              やや傷ありにしています。
              必要に応じてボタンを付けてください。
              上記にご理解いただける方に(^^)

              他にもラブトキシックなど出品しています(^。^)
          .item-button-container.clearfix
            .item-button-left
              %button.item-button.item-button-like
                = link_to "#" do
                  %i.fa.fa-heart-o
                  %span いいね
                  %span.fade-in-down 9
              %button.item-button.item-button-report.clearfix
                = link_to "#" do
                  %span 不適切な商品の報告
            .item-button-right
              = link_to "#" do
                %i.fa.fa-lock
                  %span あんしん・あんぜんへの取り組み
        / modal
        .modal-inner
          .modal-inner__modal-body
            .modal-inner__modal-body__modal-head 確認
            .modal-inner__modal-body__modal-desc 削除すると二度と復活できません。<br>削除する代わりに停止することもできます。<br><br>本当に削除しますか？
          .modal-inner__btns
            =link_to "キャンセル", "/users/mypage", class: "modal-inner__btns__btn-cancel"
            =link_to "削除する", "/items/#{@item.id}", method: :delete, class: "modal-inner__btns__btn-delete"
        / 編集ボタン
        .buy-item-contents
          .item-edit-buttons
            =link_to "商品を編集する", method: :edit, class: "btn.btn-default"
            %p or
            %form
              %input
              %button.button-gray.btn-default 出品を一旦停止する
              %button#item-delete.button-gray.btn-default この商品を削除する
        .buy-item-contents
          .item-detail-message
            .messager-container
              .message-content
                = form_for :form do |f|
                  %form.message-form
                    %p.message-form
                      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
                  = f.text_area :form,class: "textarea-default"
                %button.message-submit.btn-default.btn-gray
                  %span コメントする
        / modal
        .modal-overlay
  = render partial: "/shared/banner"
  = render partial: "/shared/footer"
