.single-container
  = render 'shared/default-header'

  %main.single-main
    %section.l-single-container
      .sell-container
        = form_for @item, url: items_path do |f|
          = f.hidden_field :seller_id, value: current_user.id
          / # = f.hidden_field :category_id, value: 6
          .sell-container-inner
            %h2.l-single-head 商品の情報を入力
          / 画像投稿
          .sell-contents
            %h3.sell-form-title
              出品画像
              %span.form-require.sell 必須
            %p.sell-contents__comment 最大4枚までアップロードできます
            .sell-dropbox_container
              = f.fields_for :images, multiple: true do |i|
                %ul.sell-dropbox-items
                .sell-dropbox-uploader
                  = i.label :images, class: 'sell-dropbox-uploader_container' do
                    .visible-pc#drop
                      ドラッグアンドドロップ
                      または
                      %br クリックしてファイルをアップロード
                    = i.file_field :image, class: "item_images hidden", id:"image_attributes_0_image1", name: "[image][]",multiple: true
                    = i.file_field :image, class: "item_images hidden", id:"image_attributes_0_image2", name: "[image][]",multiple: true
                    = i.file_field :image, class: "item_images hidden", id:"image_attributes_0_image3", name: "[image][]",multiple: true
                    = i.file_field :image, class: "item_images hidden", id:"image_attributes_0_image4", name: "[image][]",multiple: true

            / 商品名・商品の説明
          .sell-contents
            .form-group
              = f.label :name do
                %h4.sell-form-sub_title
                  商品名
                  %span.form-require.sell 必須
                = f.text_field :name, placeholder: "商品名（必須40文字まで)",class: "sell-form-text_field"
            .form-group
              = f.label :description do
                %h4.sell-form-sub_title
                  商品の説明
                  %span.form-require.sell 必須
                = f.text_area :description, placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",class: "sell-form-text_area"

          / 商品の詳細
          .sell-contents
            %h3.sell-sub-head 商品の詳細
            .sell-form-box
              .form-group
                = f.label :category, class: "sell-form-select" do
                  %h4.sell-form-sub_title
                    カテゴリー
                    %span.form-require.sell 必須
                  .select-wrap
                    = f.collection_select :category_id, Category.all, :id, :name, prompt: "---"
                  /   = f.select :category,["パンツ","スカート","トップス"], prompt: "---"
                  / .select-wrap
                  /   = f.select :category,["パンツ","スカート","トップス"], prompt: "---"
                  / .select-wrap
                  /   = f.select :category,["ジーンズ","ジャケット","レザー"], prompt: "---"
            .sell-form-box
              .form-group
                = f.label :size_id,class: "sell-form-select" do
                  %h4.sell-form-sub_title
                    サイズ
                    %span.form-require.sell 必須
                  .select-wrap
                    = f.collection_select :size_id, Size.all, :id, :size, prompt: "---"
            .sell-form-box
              .form-group
                / # =f.fields_for :brand do |b|
                .form-group
                  = f.label :brand do
                    %h4.sell-form-sub_title
                      ブランド
                      %span.form-arbitrary.sell 任意
                  = f.text_field :brand, placeholder: "例）シャネル",autocomplete:"on",class: "sell-form-text_field input_brand"
            .sell-form-box
              .form-group
                = f.label :condition, class: "sell-form-select" do
                  %h4.sell-form-sub_title
                    商品の状態
                    %span.form-require.sell 必須
                  .select-wrap
                    = f.select :condition, ["新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"], prompt: "---"
          / 配送について
          .sell-contents
            %h3.sell-contents-label
              配送について
              =link_to "#" do
                =fa_icon 'fa-question-circle', class: 'fa-question-circle'
            .sell-form-box
              .form-group
                = f.label :delivery_fee, class: "sell-form-select" do
                  %h4.sell-form-sub_title
                    配送料の負担
                    %span.form-require.sell 必須
                  .select-wrap
                    = f.select :delivery_fee, ["着払い(購入者負担)","送料込み(出品者負担)"], prompt: "---"
            .sell-form-box
              .form-group
                = f.label :delivery_method, class: "sell-form-select" do
                  %h4.sell-form-sub_title
                    配送の方法
                    %span.form-require.sell 必須
                  .select-wrap
                    = f.select :delivery_method, ["未定","クロネコヤマト","ゆうパック","ゆうメール"], prompt: "---"
            .sell-form-box
              .form-group
                = f.label :area, class: "sell-form-select" do
                  %h4.sell-form-sub_title
                    発送元の地域
                    %span.form-require.sell 必須
                  .select-wrap
                    = f.select :area, ["北海道","東京","福岡","沖縄"], prompt: "---"
            .sell-form-box
              .form-group
                = f.label :standard_shipping_time, class: "sell-form-select" do
                  %h4.sell-form-sub_title
                    発送までの日数
                    %span.form-require.sell 必須
                  .select-wrap
                    = f.select :standard_shipping_time,["1〜2日で発送","2〜3日で発送","4〜7日で発送"], prompt: "---"
          / 販売価格
          .sell-contents
            %h3.sell-contents-label
              販売価格(300〜9,999,999)
              =link_to "#" do
                =fa_icon 'fa-question-circle', class: 'fa-question-circle'
            .sell-form-box
              .form-group.sell-form-price
                = f.label :price do
                  .sell-form-price_left
                    .sell-form-sub_title-price
                      価格
                      %span.form-require.sell 必須
                  .sell-form-price_right
                    %h5.sell-contents__comment
                      ¥
                      = f.number_field :price, placeholder: "例）300",min:"300", max:"9999999",class: "sell-form-text_number"
              .sell-form-price-fee
                %p.sell-form-price-fee-text
                  販売手数料 (10%)
                .sell-form-price-fee-num -
              .sell-form-price-gains
                %h3.sell-form-price-gains-text
                  販売利益
                .sell-form-price-gains-num -

          / 注意事項以下
          .sell-contents
            %p.sell-contents__caution
              =link_to "#",class: "text-blue" do
                禁止されている出品、
              =link_to "#",class: "text-blue" do
                行為
              を必ずご確認ください。
              %br またブランド品でシリアルナンバー等がある場合はご記載ください。
              =link_to "#",class: "text-blue" do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
              %br また、出品をもちまして
              =link_to "#",class: "text-blue" do
                加盟店規約
              に同意したことになります。
            .sell-contents__caution-space
            = f.submit "出品する", class: "btn btn__red"
            = link_to root_path do
              .btn.btn__gray もどる

  %footer.single-footer
    = render 'shared/default-footer'

