.single-container
  = render partial: "/shared/header"
  %main.single-main
    %section.l-single-container
      .buy-container
        / 商品の詳細
        .buy-item-contents
          .buy-items-inner
            %h2.item-name
              = @item.name
          .item-photo
            .owl-carousel
              .owl-stage-outer
                .owl-stage
                  .owl-item
                    .owl-item-inner
                      / - @item.images.each do |image|
                      /   =image_tag image.image, size: "300x300"
                      =image_tag @item.images.first.image.url, size: "300x300"
              .owl-dots
                .owl-dot
                  %span
                    .owl-dot-inner
                      =image_tag @item.images.first.image.url, size: "75x75"
                .owl-dot
                  %span
                    .owl-dot-inner
                      - if @item.images.second.present?
                        =image_tag @item.images.second.image.url, size: "75x75"
                .owl-dot
                  %span
                    .owl-dot-inner
                      - if @item.images.third.present?
                        =image_tag @item.images.third.image.url, size: "75x75"
                .owl-dot
                  %span
                    .owl-dot-inner
                      - if @item.images.fourth.present?
                        =image_tag @item.images.fourth.image.url, size: "75x75"
          //table
          %table.item-detail-table
            %tr
              %th 出品者
              %td
                =link_to "#" do
                  =@item.seller.nickname
                .ratings
                  .item-user-ratings
                    %i.fa.fa-smile-o
                    %span 743
                  .item-user-ratings
                    %i.fa.fa-meh-o
                    %span 1
                  .item-user-ratings
                    %i.fa.fa-frown-o
                    %span 0
            %tr
              %th カテゴリー
              %td
                =link_to "#" do
                  レディース
                .item-detail-table-sub-category
                  =link_to "#" do
                    %i.fa.fa-angle-right
                    パンツ
                  =link_to "#" do
                    %i.fa.fa-angle-right
                    =@item.category.name
            %tr
              %th ブランド
              %td
                =link_to "#{@item.brand}"
            %tr
              %th 商品のサイズ
              %td
                = @item.size.size
            %tr
              %th 商品の状態
              %td
                =@item.condition
            %tr
              %th 配送料の負担
              %td
                =@item.delivery_fee
            %tr
              %th 配送の方法
              %td
                =@item.delivery_method
            %tr
              %th 配送元地域
              %td
                =link_to "#" do
                  =@item.area
            %tr
              %th 発送日の目安
              %td
                =@item.standard_shipping_time
          .item-price-box
            .text-center
              %span.item-price
                ¥#{@item.price}
              %span.item-tax (税込)
              %span.item-shipping-fee 送料込み
          %section.visible-sp
            .text-center
              .sales-point-message
                P 500をお持ちです
              %a.item-buy
                = link_to "購入画面に進む", buy_item_path(@item), method: :get, class:"item-buy-btn"
          //商品の説明
          .item-description
            %p.item-description-inner
              =@item.description
          .item-button-container.clearfix
            .item-button-left
              //like機能用
              //=render partial: "likes/like"
              %button.item-button.item-button-like
                = link_to "#" do
                  %i.fa.fa-heart-o
                  %span いいね
                  %span.fade-in-down 9
              %button.item-button.item-button-report.clearfix
                = link_to "#" do
                  %span 不適切な商品の報告
            .item-button-right
              = link_to "#" do
                %i.fa.fa-lock
                  %span あんしん・あんぜんへの取り組み
        / コメント投稿
        .buy-item-contents
          .item-detail-message
            .messager-container
              .message-content
                = form_for :form do |f|
                  %form.message-form
                    %p.message-form
                      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
                  = f.text_area :form,class: "textarea-default"
                %button.message-submit.btn-default.btn-gray
                  %span コメントする
        %ul.nav-item-link-prev-next
          %li.nav-item-link-prev
            =link_to "#" do
              %i.fa.fa-angle-left
              エルメス　HERMES 　スカーフ　カレ90《ソリとスケート》
          %li.nav-item-link-next
            =link_to "#" do
              BLANKEY JET CITY ネックレス
              %i.fa.fa-angle-right
        / SNSボタン集
        .buy-item-contents
          .social-media-widget
            %ul.social-medlia-box
              %li.share-btn
                =link_to "#" do
                  %i.fa.fa-facebook-square
              %li.share-btn
                =link_to "#" do
                  %i.fa.fa-twitter-square
              %li.share-btn
                =link_to "#" do
                  %i.fa.fa-instagram
              %li.share-btn
                =link_to "#" do
                  %i.fa.fa-share-alt-square
        / その他の商品
      .items-in-user-profile
        %section.items-box-container
          %h2.items-box-head
            =link_to "#" do
              太郎さんのその他の商品
          .item-box-content.clearfix
            %section.item-box
              .items-box
                =link_to "#" do
                  %figure.items-box-photo
                    =image_tag('m74375986154_1.jpg', size: '220x220', alt:'picture')
                  .items-box-body
                    %h3.items-box-name
                      リラックマボトル型三段ランチBOX
                    .items-box-num
                      .items-box-price
                        ¥899
                      .items-box-likes
                        %i.fa.fa-heart-o
                          %span 1
                      %p.item-box-tax (税込)
              .items-box
                =link_to "#" do
                  %figure.items-box-photo
                    =image_tag('m74375986154_1.jpg', size: '220x220', alt:'picture')
                  .items-box-body
                    %h3.items-box-name
                      リラックマボトル型三段ランチBOX
                    .items-box-num
                      .items-box-price
                        ¥899
                      .items-box-likes
                        %i.fa.fa-heart-o
                          %span 1
                      %p.item-box-tax (税込)
              .items-box
                =link_to "#" do
                  %figure.items-box-photo
                    =image_tag('m74375986154_1.jpg', size: '220x220', alt:'picture')
                  .items-box-body
                    %h3.items-box-name
                      リラックマボトル型三段ランチBOX
                    .items-box-num
                      .items-box-price
                        ¥899
                      .items-box-likes
                        %i.fa.fa-heart-o
                          %span 1
                      %p.item-box-tax (税込)
        %section.items-box-container
          %h2.items-box-head
            =link_to "#" do
              ラブトキシックのパンツその他の商品
          .item-box-content.clearfix
            %section.item-box
              .items-box
                =link_to "#" do
                  %figure.items-box-photo
                    =image_tag('m74375986154_1.jpg', size: '220x220', alt:'picture')
                  .items-box-body
                    %h3.items-box-name
                      リラックマボトル型三段ランチBOX
                    .items-box-num
                      .items-box-price
                        ¥899
                      .items-box-likes
                        %i.fa.fa-heart-o
                          %span 1
                      %p.item-box-tax (税込)
              .items-box
                =link_to "#" do
                  %figure.items-box-photo
                    =image_tag('m74375986154_1.jpg', size: '220x220', alt:'picture')
                  .items-box-body
                    %h3.items-box-name
                      リラックマボトル型三段ランチBOX
                    .items-box-num
                      .items-box-price
                        ¥899
                      .items-box-likes
                        %i.fa.fa-heart-o
                          %span 1
                      %p.item-box-tax (税込)
              .items-box
                =link_to "#" do
                  %figure.items-box-photo
                    =image_tag('m74375986154_1.jpg', size: '220x220', alt:'picture')
                  .items-box-body
                    %h3.items-box-name
                      リラックマボトル型三段ランチBOX
                    .items-box-num
                      .items-box-price
                        ¥899
                      .items-box-likes
                        %i.fa.fa-heart-o
                          %span 1
                      %p.item-box-tax (税込)
  = render partial: "/shared/banner"
  = render partial: "/shared/footer"
